<h1>Editing bookmaker</h1>

<%= render "form", bookmaker: @bookmaker %>

<br>

<div>
  <%= link_to "Show this bookmaker", @bookmaker %> |
  <%= link_to "Back to bookmakers", bookmakers_path %>
</div>
